In [5]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle

In [6]:
df1=pd.read_csv('../input/ipl-complete-dataset-20082020/IPL Matches 2008-2020.csv')
df1.head(10)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [7]:
df2=pd.read_csv("../input/ipl-complete-dataset-20082020/IPL Ball-by-Ball 2008-2020.csv")
df2.head(15)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
5,335982,1,7,4,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
6,335982,1,7,5,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
7,335982,1,7,6,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
8,335982,1,8,1,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
9,335982,1,8,2,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
10,335982,1,8,3,BB McCullum,RT Ponting,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
11,335982,1,8,4,BB McCullum,RT Ponting,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
12,335982,1,8,5,RT Ponting,BB McCullum,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
13,335982,1,8,6,BB McCullum,RT Ponting,JH Kallis,2,0,2,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
14,335982,1,9,1,RT Ponting,BB McCullum,SB Joshi,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [8]:
df1.shape

(816, 17)

In [9]:
df2.shape

(193468, 18)

In [10]:
data=df1.merge(df2,on='id')
data

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,...,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,...,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,...,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [11]:
data.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [12]:
data.drop(['date', 'city','player_of_match','neutral_venue','toss_winner','toss_decision','method', 'umpire1', 'umpire2','batsman', 'non_striker', 'bowler',
        'batsman_runs','extra_runs','result', 'non_boundary','eliminator','result_margin','dismissal_kind', 'player_dismissed', 'fielder', 'extras_type'], axis='columns',inplace=True)

In [13]:
data.head()

,id,venue,team1,team2,winner,inning,over,ball,total_runs,is_wicket,batting_team,bowling_team
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore

In [14]:
data1=data.groupby(['id','inning']).sum()['total_runs']
data1

id       inning
335982   1         222
         2          82
335983   1         240
         2         207
335984   1         129
                  ...
1237178  2         132
1237180  1         189
         2         172
1237181  1         156
         2         157
Name: total_runs, Length: 1630, dtype: int64

In [15]:
data1=data1.reset_index()

In [16]:
data1

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [17]:
data1=data1[data1.inning==1]
data1

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [18]:
data1['Target']=data1['total_runs']+1
data1.drop(['total_runs'],axis='columns',inplace=True)
data1

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

           id  inning  Target
0      335982       1     223
2      335983       1     241
4      335984       1     130
6      335985       1     166
8      335986       1     111
...       ...     ...     ...
1620  1216547       1     202
1622  1237177       1     201
1624  1237178       1     132
1626  1237180       1     190
1628  1237181       1     157

[816 rows x 3 columns]

In [19]:
data=data.merge(data1,on='id')
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
0,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,5,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
1,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,6,6,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
2,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,1,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
3,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,2,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
4,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,1,7,3,1,0,Kolkata Knight Riders,Royal Challengers Bangalore,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,12,5,0,0,Delhi Capitals,Mumbai Indians,1,157
193464,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,12,6,1,0,Delhi Capitals,Mumbai Indians,1,157
193465,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,1,1,0,Delhi Capitals,Mumbai Indians,1,157
193466,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,2,1,0,Delhi Capitals,Mumbai Indians,1,157
193467,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,1,13,3,1,0,Delhi Capitals,Mumbai Indians,1,157

In [20]:
data=data[(data.inning_x==2)]
data

,id,venue,team1,team2,winner,inning_x,over,ball,total_runs,is_wicket,batting_team,bowling_team,inning_y,Target
121,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
122,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
123,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
124,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
125,335982,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,2,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,1,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,17,6,1,0,Mumbai Indians,Delhi Capitals,1,157
193373,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,1,1,0,Mumbai Indians,Delhi Capitals,1,157
193374,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,2,1,0,Mumbai Indians,Delhi Capitals,1,157
193375,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,3,0,1,Mumbai Indians,Delhi Capitals,1,157
193376,1237181,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,2,18,4,1,0,Mumbai Indians,Delhi Capitals,1,157

In [21]:
data.drop(['inning_x','inning_y','team1','team2'],axis='columns',inplace=True)
data.rename(columns={"total_runs":"Run_on_this_ball"},inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [22]:
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223
...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157
193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157
193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157
193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157
193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157

In [23]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [24]:
data.batting_team=data.batting_team.str.replace('Delhi Daredevils','Delhi Capitals')
data.bowling_team=data.bowling_team.str.replace('Delhi Daredevils','Delhi Capitals')

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [25]:
data.batting_team=data.batting_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')
data.bowling_team=data.bowling_team.str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [26]:
data.drop(data[data.batting_team=='Kochi Tuskers Kerala'].index,inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [27]:
data.drop(data[data.batting_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.batting_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.batting_team=='Rising Pune Supergiant'].index,inplace=True)

In [28]:
data.batting_team.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [29]:
data.bowling_team.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions', 'Rising Pune Supergiant'], dtype=object)

In [30]:
data.drop(data[data.bowling_team=='Kochi Tuskers Kerala'].index,inplace=True)
data.drop(data[data.bowling_team=='Pune Warriors'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiants'].index,inplace=True)
data.drop(data[data.bowling_team== 'Gujarat Lions'].index,inplace=True)
data.drop(data[data.bowling_team=='Rising Pune Supergiant'].index,inplace=True)

In [31]:
teams=data.bowling_team.unique()
teams

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [32]:
data.isna().sum()

id                   0
venue                0
winner              27
over                 0
ball                 0
Run_on_this_ball     0
is_wicket            0
batting_team         0
bowling_team         0
Target               0
dtype: int64

In [33]:
data=data.dropna()

In [34]:
data.isna().sum()

id                  0
venue               0
winner              0
over                0
ball                0
Run_on_this_ball    0
is_wicket           0
batting_team        0
bowling_team        0
Target              0
dtype: int64

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80314 entries, 121 to 193376
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                80314 non-null  int64
 1   venue             80314 non-null  object
 2   winner            80314 non-null  object
 3   over              80314 non-null  int64
 4   ball              80314 non-null  int64
 5   Run_on_this_ball  80314 non-null  int64
 6   is_wicket         80314 non-null  int64
 7   batting_team      80314 non-null  object
 8   bowling_team      80314 non-null  object
 9   Target            80314 non-null  int64
dtypes: int64(6), object(4)
memory usage: 6.7+ MB

In [36]:
data['Ball_Number']=(data['over'])*6+data['ball']
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...
193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108
193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109
193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110
193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111
193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112

In [37]:
data_temp=data[['id','Run_on_this_ball','is_wicket']]

In [38]:
data_temp

             id  Run_on_this_ball  is_wicket
121      335982                 0          0
122      335982                 1          0
123      335982                 1          0
124      335982                 1          0
125      335982                 0          0
...         ...               ...        ...
193372  1237181                 1          0
193373  1237181                 1          0
193374  1237181                 1          0
193375  1237181                 0          1
193376  1237181                 1          0

[80314 rows x 3 columns]

In [39]:
data_temp=data_temp.groupby('id').cumsum()
data_temp

        Run_on_this_ball  is_wicket
121                    0          0
122                    1          0
123                    2          0
124                    3          0
125                    3          0
...                  ...        ...
193372               154          4
193373               155          4
193374               156          4
193375               156          5
193376               157          5

[80314 rows x 2 columns]

In [40]:
data=data.reset_index()

In [41]:
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112

In [42]:
data_temp=data_temp.reset_index()
data_temp

        index  Run_on_this_ball  is_wicket
0         121                 0          0
1         122                 1          0
2         123                 2          0
3         124                 3          0
4         125                 3          0
...       ...               ...        ...
80309  193372               154          4
80310  193373               155          4
80311  193374               156          4
80312  193375               156          5
80313  193376               157          5

[80314 rows x 3 columns]

In [43]:
data_temp.rename(columns={"Run_on_this_ball":"Runs"},inplace=True)

In [44]:
data_temp.rename(columns={"is_wicket":"Wickets"},inplace=True)

In [45]:
data_temp

        index  Runs  Wickets
0         121     0        0
1         122     1        0
2         123     2        0
3         124     3        0
4         125     3        0
...       ...   ...      ...
80309  193372   154        4
80310  193373   155        4
80311  193374   156        4
80312  193375   156        5
80313  193376   157        5

[80314 rows x 3 columns]

In [46]:
data[['Runs','Wickets']]=data_temp[['Runs','Wickets']]
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5

In [47]:
data['Balls_Left']=120-data['Ball_Number']
data['Runs_Left']=data['Target']-data['Runs']
data

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
0,121,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,2,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,38,0,0,82,223
1,122,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,3,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,39,1,0,81,222
2,123,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,4,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,40,2,0,80,221
3,124,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,5,1,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,41,3,0,79,220
4,125,335982,M Chinnaswamy Stadium,Kolkata Knight Riders,6,6,0,0,Royal Challengers Bangalore,Kolkata Knight Riders,223,42,3,0,78,220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4,12,3
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4,11,2
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4,10,1
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5,9,1
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5,8,0

In [48]:
data = data[data['id'] != 335982]
data.head(170)

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,526,335984,Feroz Shah Kotla,Delhi Daredevils,14,7,0,0,Delhi Capitals,Rajasthan Royals,130,91,52,0,29,78
267,527,335984,Feroz Shah Kotla,Delhi Daredevils,15,1,4,0,Delhi Capitals,Rajasthan Royals,130,91,56,0,29,74
268,553,335984,Feroz Shah Kotla,Delhi Daredevils,0,1,0,0,Delhi Capitals,Rajasthan Royals,130,1,56,0,119,74
269,554,335984,Feroz Shah Kotla,Delhi Daredevils,0,2,0,0,Delhi Capitals,Rajasthan Royals,130,2,56,0,118,74
270,555,335984,Feroz Shah Kotla,Delhi Daredevils,0,3,0,0,Delhi Capitals,Rajasthan Royals,130,3,56,0,117,74

In [49]:
data['Wickets_Left']=10-data['Wickets']
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,index,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,225,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237,10
102,226,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237,10
103,229,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237,10
104,230,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233,10
105,231,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,193372,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4,12,3,6
80310,193373,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4,11,2,6
80311,193374,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4,10,1,6
80312,193375,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5,9,1,5
80313,193376,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5,8,0,5

In [50]:
data.drop(['index'],axis='columns',inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [51]:
data

,id,venue,winner,over,ball,Run_on_this_ball,is_wicket,batting_team,bowling_team,Target,Ball_Number,Runs,Wickets,Balls_Left,Runs_Left,Wickets_Left
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,1,4,0,Kings XI Punjab,Chennai Super Kings,241,1,4,0,119,237,10
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,2,0,0,Kings XI Punjab,Chennai Super Kings,241,2,4,0,118,237,10
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,5,0,0,Kings XI Punjab,Chennai Super Kings,241,5,4,0,115,237,10
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,0,6,4,0,Kings XI Punjab,Chennai Super Kings,241,6,8,0,114,233,10
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,1,1,1,0,Kings XI Punjab,Chennai Super Kings,241,7,9,0,113,232,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,17,6,1,0,Mumbai Indians,Delhi Capitals,157,108,154,4,12,3,6
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,1,1,0,Mumbai Indians,Delhi Capitals,157,109,155,4,11,2,6
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,2,1,0,Mumbai Indians,Delhi Capitals,157,110,156,4,10,1,6
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,3,0,1,Mumbai Indians,Delhi Capitals,157,111,156,5,9,1,5
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,18,4,1,0,Mumbai Indians,Delhi Capitals,157,112,157,5,8,0,5

In [52]:
data.drop(['over','ball','Run_on_this_ball','is_wicket','Ball_Number','Wickets'],axis='columns',inplace=True)
data

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10
...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5

In [53]:
data['Current RR']=data['Runs']*6/(120-data['Balls_Left'])
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286
...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6,8.555556
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6,8.532110
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6,8.509091
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5,8.432432
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5,8.410714

In [54]:
data['Required RR']=data['Runs_Left']*6/data['Balls_Left']
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000,11.949580
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000,12.050847
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000,12.365217
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000,12.263158
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286,12.318584
...,...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6,8.555556,1.500000
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6,8.532110,1.090909
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6,8.509091,0.600000
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5,8.432432,0.666667
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5,8.410714,0.000000

In [55]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [56]:
data['result']=data.apply(result,axis=1)
data

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,id,venue,winner,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
101,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,119,237,10,24.000000,11.949580,0
102,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,118,237,10,12.000000,12.050847,0
103,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,4,115,237,10,4.800000,12.365217,0
104,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,8,114,233,10,8.000000,12.263158,0
105,335983,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,241,9,113,232,10,7.714286,12.318584,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80309,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,154,12,3,6,8.555556,1.500000,1
80310,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,155,11,2,6,8.532110,1.090909,1
80311,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,10,1,6,8.509091,0.600000,1
80312,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,156,9,1,5,8.432432,0.666667,1
80313,1237181,Dubai International Cricket Stadium,Mumbai Indians,Mumbai Indians,Delhi Capitals,157,157,8,0,5,8.410714,0.000000,1

In [57]:
data.drop(['winner'],axis='columns',inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [58]:
data.describe()

,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,8.021300e+04,80213.00000,80213.000000,80213.000000,80213.000000,80213.000000,80213.000000,8.021200e+04,80213.000000
mean,7.535087e+05,165.68909,75.295763,62.852231,90.393328,7.160959,16.463501,inf,0.459763
std,3.140432e+05,28.70614,47.392234,33.416320,50.590899,2.437558,45.913328,NaN,0.498381
min,3.359830e+05,68.00000,0.000000,-3.000000,-15.000000,0.000000,0.000000,-1.200000e+03,0.000000
25%,5.011990e+05,148.00000,35.000000,35.000000,50.000000,6.000000,4.158416,4.829268e+00,0.000000
50%,7.292990e+05,166.00000,72.000000,64.000000,90.000000,8.000000,7.300000,8.926829e+00,0.000000
75%,1.136568e+06,185.00000,112.000000,92.000000,129.000000,9.000000,13.200000,1.532339e+01,1.000000
max,1.237181e+06,247.00000,226.000000,119.000000,247.000000,10.000000,1110.000000,inf,1.000000

In [59]:
data=data[data.Balls_Left>0]

In [60]:
data=data[data.Runs_Left>=0]

In [61]:
data.describe()

,id,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
count,7.932300e+04,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000,79323.000000
mean,7.535363e+05,165.730948,74.660956,63.237724,91.069992,7.175145,16.458842,16.933763,0.458505
std,3.140258e+05,28.697328,46.991853,33.223461,50.147681,2.436417,45.733135,45.883652,0.498278
min,3.359830e+05,68.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.011990e+05,148.000000,34.000000,35.000000,50.000000,6.000000,4.142857,4.930693,0.000000
50%,7.292990e+05,166.000000,72.000000,64.000000,90.000000,8.000000,7.276596,8.962025,0.000000
75%,1.136568e+06,185.000000,111.000000,92.000000,129.000000,9.000000,13.200000,15.300000,1.000000
max,1.237181e+06,247.000000,223.000000,119.000000,247.000000,10.000000,1110.000000,1284.000000,1.000000

In [62]:
data = data.sample(frac = 1)

In [63]:
data

,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
52137,829821,JSCA International Stadium Complex,Chennai Super Kings,Royal Challengers Bangalore,140,3,112,137,10,2.250000,7.339286,1
42030,733983,Wankhede Stadium,Royal Challengers Bangalore,Mumbai Indians,188,35,18,153,7,2.058824,51.000000,0
22063,501224,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Mumbai Indians,173,90,77,83,5,12.558140,6.467532,0
54016,980953,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore,Sunrisers Hyderabad,195,108,19,87,7,6.415842,27.473684,0
74966,1216506,Sheikh Zayed Stadium,Chennai Super Kings,Kings XI Punjab,154,97,47,57,9,7.972603,7.276596,1
...,...,...,...,...,...,...,...,...,...,...,...,...
71843,1178422,Eden Gardens,Mumbai Indians,Kolkata Knight Riders,233,100,48,133,6,8.333333,16.625000,0
13416,419109,Eden Gardens,Kolkata Knight Riders,Royal Challengers Bangalore,136,51,35,85,9,3.600000,14.571429,1
36641,598049,Sawai Mansingh Stadium,Rajasthan Royals,Delhi Capitals,155,85,50,70,10,7.285714,8.400000,1
32224,597999,M Chinnaswamy Stadium,Mumbai Indians,Royal Challengers Bangalore,157,72,62,85,7,7.448276,8.225806,0
16753,419137,"MA Chidambaram Stadium, Chepauk",Rajasthan Royals,Chennai Super Kings,247,204,86,43,5,36.000000,3.000000,0

In [64]:
data.isnull().sum()

id              0
venue           0
batting_team    0
bowling_team    0
Target          0
Runs            0
Balls_Left      0
Runs_Left       0
Wickets_Left    0
Current RR      0
Required RR     0
result          0
dtype: int64

In [65]:
venues=data.venue.unique()
venues

array(['JSCA International Stadium Complex', 'Wankhede Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sheikh Zayed Stadium', 'Dubai International Cricket Stadium',
       'M Chinnaswamy Stadium', 'Maharashtra Cricket Association Stadium',
       'Feroz Shah Kotla', 'Eden Gardens', 'OUTsurance Oval',
       'New Wanderers Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'M.Chinnaswamy Stadium', 'Sawai Mansingh Stadium',
       'SuperSport Park', 'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'De Beers Diamond Oval', 'Newlands', 'Kingsmead',
       "St George's Park", 'Sharjah Cricket Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Brabourne Stadium', 'Barabati Stadium',
       'Subrata Roy Sahara Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Buffalo Park',
       'Holkar Cricket Stadium'], dtype=object)

In [66]:
len(venues)

33

In [67]:
data.venue=data.venue.str.replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')
data.venue=data.venue.str.replace('Punjab Cricket Association IS Bindra Stadium, Mohali','Punjab Cricket Association Stadium, Mohali')
data.venue=data.venue.str.replace('Maharashtra Cricket Association Stadium','Subrata Roy Sahara Stadium')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [68]:
venues=data.venue.unique()
venues

array(['JSCA International Stadium Complex', 'Wankhede Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sheikh Zayed Stadium', 'Dubai International Cricket Stadium',
       'M Chinnaswamy Stadium', 'Subrata Roy Sahara Stadium',
       'Feroz Shah Kotla', 'Eden Gardens', 'OUTsurance Oval',
       'New Wanderers Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Sawai Mansingh Stadium', 'SuperSport Park',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'De Beers Diamond Oval', 'Newlands', 'Kingsmead',
       "St George's Park", 'Sharjah Cricket Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Brabourne Stadium', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Buffalo Park',
       'Holkar Cricket Stadium'], dtype=object)

In [69]:
len(venues)

30

In [70]:
le=LabelEncoder()
LE=LabelEncoder()

In [71]:
data['venue']=LE.fit_transform(data['venue'])
data['batting_team']=le.fit_transform(data['batting_team'])
data['bowling_team']=le.fit_transform(data['bowling_team'])
data

,id,venue,batting_team,bowling_team,Target,Runs,Balls_Left,Runs_Left,Wickets_Left,Current RR,Required RR,result
52137,829821,11,0,6,140,3,112,137,10,2.250000,7.339286,1
42030,733983,29,6,4,188,35,18,153,7,2.058824,51.000000,0
22063,501224,19,7,4,173,90,77,83,5,12.558140,6.467532,0
54016,980953,19,6,7,195,108,19,87,7,6.415842,27.473684,0
74966,1216506,24,0,2,154,97,47,57,9,7.972603,7.276596,1
...,...,...,...,...,...,...,...,...,...,...,...,...
71843,1178422,7,4,3,233,100,48,133,6,8.333333,16.625000,0
13416,419109,7,3,6,136,51,35,85,9,3.600000,14.571429,1
36641,598049,21,5,1,155,85,50,70,10,7.285714,8.400000,1
32224,597999,13,4,6,157,72,62,85,7,7.448276,8.225806,0
16753,419137,14,5,0,247,204,86,43,5,36.000000,3.000000,0

In [72]:
LE.classes_

array(['Barabati Stadium', 'Brabourne Stadium', 'Buffalo Park',
       'De Beers Diamond Oval', 'Dr DY Patil Sports Academy',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Dubai International Cricket Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Himachal Pradesh Cricket Association Stadium',
       'Holkar Cricket Stadium', 'JSCA International Stadium Complex',
       'Kingsmead', 'M Chinnaswamy Stadium',
       'MA Chidambaram Stadium, Chepauk', 'New Wanderers Stadium',
       'Newlands', 'OUTsurance Oval',
       'Punjab Cricket Association Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sardar Patel Stadium, Motera', 'Sawai Mansingh Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Sharjah Cricket Stadium', 'Sheikh Zayed Stadium',
       "St George's Park", 'Subrata Roy Sahara Stadium',
       'SuperSport Park', 'Vidarbha Cricket Association Stadium, Jamtha',
       'Wankhede Stadium'], dtype=object)

In [73]:
le.classes_

array(['Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad'], dtype=object)

In [74]:
X=data[['batting_team','bowling_team','venue','Runs_Left','Balls_Left','Wickets_Left']]

In [75]:
y=data['result']

In [76]:
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.25)

In [77]:
model=LogisticRegression()

In [78]:
model.fit(X_train,y_train)

LogisticRegression()

In [79]:
y_pred=model.predict(X_test)

In [80]:
accuracy_score(y_test,y_pred)

0.7388936513539408

In [81]:
X_train

       batting_team  bowling_team  venue  Runs_Left  Balls_Left  Wickets_Left
25678             1             6     13         43          17             4
67836             1             2     18         91          98             2
6932              6             7     16        149          31             9
24156             1             2      9        146          91            10
77702             4             1     24         19          10             5
...             ...           ...    ...        ...         ...           ...
3746              5             1     21        122          43             8
56360             4             3     29        105          96             8
36918             7             0     19         94           7             3
47698             3             2     26         11          53             4
1073              4             2     18        122          69             8

[59492 rows x 6 columns]

In [82]:
model.predict_proba([[6,0,24,78,60,3]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[0.94467427, 0.05532573]])

In [83]:
model.predict([[4,0,24,90,60,6]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [84]:
teams

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [85]:
venues

array(['JSCA International Stadium Complex', 'Wankhede Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Sheikh Zayed Stadium', 'Dubai International Cricket Stadium',
       'M Chinnaswamy Stadium', 'Subrata Roy Sahara Stadium',
       'Feroz Shah Kotla', 'Eden Gardens', 'OUTsurance Oval',
       'New Wanderers Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Sawai Mansingh Stadium', 'SuperSport Park',
       'Sardar Patel Stadium, Motera',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'De Beers Diamond Oval', 'Newlands', 'Kingsmead',
       "St George's Park", 'Sharjah Cricket Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Brabourne Stadium', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha', 'Buffalo Park',
       'Holkar Cricket Stadium'], dtype=object)

In [86]:
pickle.dump(model,open('Model.pkl','wb'))

In [87]:
Model=pickle.load(open('Model.pkl','rb'))

In [88]:
Model.predict([[4,0,24,90,60,6]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [89]:
Model.predict_proba([[6,0,24,78,60,7]])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[0.53546636, 0.46453364]])